---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
An enthusiastic <strong>Big Data Engineer</strong> and <strong>Scrum Master</strong> with over 3+ years of experience
designing scalable data pipelines, integrating cloud-native services, and enabling
analytics for AD/ADAS software systems for Polestar 3 and Volvo cars. Experienced
in ETL, cloud platforms, and performance tuning for automotive applications.  Known for a critical and analytical mindset, I thrive in solving complex problems and optimizing data
workflows. Passionate about the intersection of data engineering, machine learning, and data science
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="M.Sc in System, Control, and Mechatronics"
      subtitle="2020 to 2022 at Chalmers University of Technology, Sweden"
    />
    <TimeLineElement
      title="Bachelor’s degree in Automotive Engineering"
      subtitle="2016 to 2020 at PSG College Of Technology, India"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Data Engineer"
      subtitle="Sep 2022 – Present at Volvo Cars, Sweden (Consultant via Nexer AB until Dec 2023)"
    >
      <ul class="list-disc ml-5 space-y-2">
        <li class="font-semibold">Data Pipeline Engineering
          <ul class="list-circle ml-5 space-y-1 font-normal">
            <li> - Developed resilient AD/ADAS data pipelines leveraging REST APIs, Jenkins, and cloud services</li>
            <li> - Optimized PostgreSQL session handling for high-performance data processing</li>
            <li> - Reduced data processing time by 30% through advanced ingestion pipeline optimization</li>
          </ul>
        </li>

        <li class="font-semibold">Data Simulation and Monitoring
          <ul class="list-circle ml-5 space-y-1 font-normal">
            <li> - Simulated complex sensor data (Radar, Lidar, USS) from SQL for supplier tools</li>
            <li> - Designed and implemented a Grafana-based platform for comprehensive data re-simulation monitoring</li>
          </ul>
        </li>

        <li class="font-semibold">Integration and Metadata Management
          <ul class="list-circle ml-5 space-y-1 font-normal">
            <li> - Created a Python client to integrate third-party FastAPI for seamless metadata synchronization</li>
            <li> - Automated data quality tagging to ensure data integrity and traceability</li>
          </ul>
        </li>

        <li class="font-semibold">Web Application Development
          <ul class="list-circle ml-5 space-y-1 font-normal">
            <li> - Developed a Flask-based web application for secure manual pipeline triggering and database access</li>
            <li> - Implemented CI/CD process for data pipeline execution</li>
            <li> - Enabled advanced logging solution using Elastic Search filebeat containerization</li>
          </ul>
        </li>

        <li class="font-semibold">Message-Driven Architecture
          <ul class="list-circle ml-5 space-y-1 font-normal">
            <li> - Architected a message-driven pipeline using RabbitMQ, MongoDB, and REST APIs</li>
            <li> - Streamlined metadata processing for ingested vehicle data</li>
          </ul>
        </li>

        <li class="font-semibold">Cloud Migration Initiatives
          <ul class="list-circle ml-5 space-y-1 font-normal">
            <li> - Actively contributed to cloud migration strategy</li>
            <li> - Modernized existing data pipelines for cloud-native deployments</li>
            <li> - Defined and implemented migration plans to enhance scalability and efficiency</li>
          </ul>
        </li>
      </ul>




    </TimeLineElement>
    <TimeLineElement
      title="Master Thesis Student"
      subtitle="Jan 2022 – Jul 2022 at Volvo Cars, Sweden"
    >
      <ul class="list-disc ml-5 space-y-2">
        <li class="font-semibold">NLP and Machine Learning Research
          <ul class="list-circle ml-5 space-y-1 font-normal">
            <li> - Built an NLP-based fault tracing bot to classify unstructured logs</li>
            <li> - Applied data cleaning, clustering, and feature extraction using tools such as Scikit-learn, TensorFlow, PyTorch, and numpy for root cause identification</li>
            <li> - Implemented Machine Learning models to predict software integration issues with minimal manual effort, improving debugging efficiency and automation in validation workflows</li>
          </ul>
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="MATLAB Student Ambassador"
      subtitle="Aug 2021 – May 2022 at MathWorks, Sweden"
    >
      <ul class="list-disc ml-5 space-y-2">
        <li class="font-semibold">Academic and Technical Engagement
          <ul class="list-circle ml-5 space-y-1 font-normal">
            <li> - Organized and led technical workshops on machine learning and deep learning using MATLAB & Simulink</li>
            <li> - Acted as a campus liaison, working with students and faculty to promote the academic and research use of MATLAB</li>
          </ul>
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <div class="space-y-2 mx-6">
    <p>• Microsoft <strong>Microsoft Azure Data Fundamentals (DP-900)</strong> - <a href="https://learn.microsoft.com/api/credentials/share/en-us/HariharanGopinath-9885/5E4BA3CEFF641C1E?sharingId=F2B0C646B712C1B" target="_blank" class="text-blue-600 hover:underline">Certificate Link</a></p>
    
    <p>• Coursera: <strong>ETL and Data Pipelines with Shell, Airflow, and Kafka</strong> - <a href="https://coursera.org/share/1583e6fa6a7e88e5a0a87b7b3e024252" target="_blank" class="text-blue-600 hover:underline">Certificate Link</a></p>
    
    <p>• Coursera: <strong>Explore Core Data Concepts in Microsoft Azure</strong> - <a href="https://coursera.org/share/70a214b37c926e3cb29fef64e37566ce" target="_blank" class="text-blue-600 hover:underline">Certificate Link</a></p>
    
    <p>• Coursera: <strong>Microsoft Azure SQL</strong> - <a href="https://coursera.org/share/892ad95d85b33ec2fb52558f1d429652" target="_blank" class="text-blue-600 hover:underline">Certificate Link</a></p>
    
    <p>• Coursera: <strong>Microsoft Azure Cosmos DB</strong> - <a href="https://coursera.org/share/892ad95d85b33ec2fb52558f1d429652" target="_blank" class="text-blue-600 hover:underline">Certificate Link</a></p>
    
    <p>• Coursera: <strong>Modern Data Warehouse Analytics in Microsoft Azure</strong> - <a href="https://coursera.org/share/2a0a882afcbac6544538c4df8c0275c8" target="_blank" class="text-blue-600 hover:underline">Certificate Link</a></p>
    
    <p>• LinkedIn Learning: <strong>Docker for Data Engineers</strong> - <a href="https://www.linkedin.com/learning/certificates/b5842d58e78bcb41405945636d2ec104855a1e18f2c0b53c8ccd6e63c00572c0?u=2100948" target="_blank" class="text-blue-600 hover:underline">Certificate Link</a></p>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="space-y-2 mx-6">
    <p>• <strong>Programming Languages:</strong> Python, C/C++, MATLAB/Simulink, JavaScript, Shell Scripting</p>
    <p>• <strong>Cloud Platforms:</strong> Big Data, Azure Data Factory, Azure Synapse Analytics, Azure Cosmos DB, Google Cloud Platform</p>
    <p>• <strong>Database Systems:</strong> Knowledge of SQL and NoSQL databases (e.g., PostgreSQL, MongoDB)</p>
    <p>• <strong>API Development:</strong> RESTful APIs, Client Connections, Docker</p>
    <p>• <strong>Web Development:</strong> Flask, FastAPI, RESTful APIs, HTML, CSS</p>
    <p>• <strong>Data Engineering:</strong> ETL and ELT, Kafka, RabbitMQ, Apache Airflow for orchestrating data workflows, PySpark</p>
    <p>• <strong>Big Data:</strong> Data Lifecycle Management, Data Warehouse</p>
    <p>• <strong>Machine Learning:</strong> NLP, TensorFlow, NumPy, Pandas, OpenCV, PyTorch</p>
    <p>• <strong>CI/CD:</strong> Jenkins, Unit Testing, Code Quality</p>
    <p>• <strong>Data Visualization:</strong> Tableau, Power BI, Matplotlib, Grafana, ElasticSearch</p>
    <p>• <strong>DevOps:</strong> Agile, DevOps, GitLab, Gerrit, Jenkins</p>
    <p>• <strong>Containerization & Orchestration:</strong> Experience in Docker, PBS, and containerization technologies and Kubernetes cluster</p>
    <p>• <strong>Leadership:</strong> Code Reviews, Scrum, Communication, Teamwork</p>
  </div>
</BaseLayout>
